<div class="mastfoot">
  <div class="row">
    <div class="inner col-md-4">
      <%= copyright_generator %>
    </div>

    <div class="inner col-md-4">
      <%= bear_copyright %>
    </div>

    <div class="float-right col-md-4">
      <a href="#">Back to top</a>
    </div>
  </div>
</div>