<div class="mastfoot">
  <div class="row">
    <div class="inner col-md-6">
      <%= copyright_generator %>
    </div>

    <div class="inner col-md-6">
      <%= bear_copyright %>
    </div>
  </div>
</div>