<div class="mastfoot">
  <div class="display-inline-block">
    <span class="inner col-md-4">
      <%= copyright_generator %>
    </span>

    <span class="inner col-md-4">
      <%= bear_copyright %>
    </span>

    <span class="inner col-md-4">
      <a href="#">Back to top</a>
    </span>
  </div>
</div>