<div class="jumbotron" id="project-header">

  <p id="project-title">Projects that are</p>
  
  <b id="text-container">
    <span id="rotating-text">
      Quality<br /> 
      Renowned<br />
      Memorable<br />
      Custom
  </b>

  <div id="new-post-button">
    <%= link_to 'New Post', new_project_path, class: 'btn btn-primary' if logged_in?(:site_admin) %>
  </div>
</div>