<ul class="navbar-nav project-header">
  <li class="nav-item">
    <h1>Projects</h1>
  </li>
  <li class="nav-item">
    <%= link_to 'New Post', new_project_path, class: 'btn btn-primary' if logged_in?(:site_admin) %>
  </li>
  <li class="nav-item">
    <%= paginate @projects %>
  </li>
</ul>

<div class="album text-muted">
  <div class="row">
    <%= render @projects %>
  </div>
</div>