<%= render "project_header" %>

<div class="album text-muted">
  <div class="container">
    <%= paginate @projects %>
      <div class="row">
          <%= render partial: 'project', collection: @projects %>
      </div>
    <%= paginate @projects %>
  </div>
</div>
