<%= paginator.render do -%>
  <div class="pagination display-inline-block">
    <span id="previous-pg">
      <%= prev_page_tag -%>
    </span>
    <span id="next-pg">
      <%= next_page_tag -%>
    </span>
  </div>
<% end -%>
