@import "bootstrap";
@import "gritter";

/*
* Custom styles
*/

@mixin buttons {
  border: 1px solid #A4A3A3;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  &:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
  @content;
}

body {
  height: 100%;
}

#pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#the-navbar a:hover {
  color: LightGreen;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('placeholder.jpg') no-repeat;
  background-size: cover;
}

.jumbotron {
  position: relative;
  text-align: center;
  background-color: rgba(209, 216, 230, 0.75);
}

#edit-user {
  margin-bottom: 10%;
}

.mastfoot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgba(209, 216, 230, 1.00);
}

.card {
  background-color: rgba(209, 216, 230, 0.75);
}

.card-block {
  margin-top: 4%;
  margin-left: 4%;
}

.col-md-5 {
  margin-top: 10%;
}

.submit {
  @include buttons
}

.delete {
  @include buttons
}










