@import "bootstrap";
@import "gritter";
@import "font-awesome";

.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

/*
* All Custom Styles below
*/

/*
* Scss mixins start
*/
@mixin buttons {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  margin-top: 10px;
  margin-right: 5px;
  &:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
  @content;
}
/*
* Scss mixins end
*/

body {
  background-color: LightGrey;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#the-navbar a:hover {
  color: LightGreen;
}

.project-header {
  text-align: center;
}

.mastfoot {
  bottom: 0;
  text-align: center;
  padding: 15px;
  width: 100%;
  background-color: rgba(209, 216, 230, 1.00);
}

/*
* Button Styles Start
*/
.edit {
  @include buttons
}

.delete {
  @include buttons
}

.edit a {
  color: black;
  text-decoration: none;
  &:hover {
    color: LightGreen;
  }
}

.delete a {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}
/*
* Button Styles end
*/




















