@import "bootstrap";
@import "gritter";

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

/*
* Custom Styles
*/

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
}

#projects a:hover {
  color: LightGreen;
}

.project-header {
  text-align: center;
}

.mastfoot {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 15px;
  width: 100%;
  background-color: rgba(209, 216, 230, 1.00);
}

body {
  background-color: LightGrey;
}










